.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.hero-left-card {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero-main-heading {
  font-family: "Lato", sans-serif;
  color: grey;
}
.hero-main-heading > span {
  font-size: 50px;
  margin-right: 10px;
}

.hero-left-card > :nth-child(2) {
  font-size: 32px;
  color: grey;
  line-height: 1.4;
}
.hero-left-card > :nth-child(3) {
  font-size: 20px;
  line-height: 1.4;
  color: rgba(102, 84, 84, 0.363);
  /* margin-bottom: 40px; */
}
.hero-btn {
  margin-top: 40px;
  border-bottom: 2px solid orange;
  width: 100px;
  padding: 2px 10px;
  background: rgb(253, 253, 253);
  color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hero-btn:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.hero-btn button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}

.li__value {
  color: orange;
  text-decoration: none;
}

/*  */
.hero-right-card {
  width: 45%;
  position: relative;
  /* border: 2px solid blue; */
}

.family-back-image {
  width: 100%;
}
.family__image {
  /* border: 2px solid red; */
  width: 100%;
}
.family__image > img {
  width: 75%;
  position: absolute;
  top: 0;
  right: 0px;
}

@media (max-width: 768px) {
  .hero-main {
    flex-direction: column;
    gap: 1rem;
  }
  .hero-left-card {
    width: 100%;
    gap: 2rem;
  }
  .hero-right-card {
    width: 100%;
    display: none;
  }
}
