.Home-about-maincontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.Home-loanmain-divcon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
}
.About-homeloan-container {
  width: 45%;
  color: grey;
  height: 400px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  padding: 12px;
  border-radius: 9px;
}
.About-homeloan-container span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
::-webkit-scrollbar {
  display: none;
}
.about-read-more-less {
  border: none;
  border-radius: 3px;
  background-color: transparent;
  outline-style: none;
  display: flex;
  flex-direction: column;
  color: grey;
}
/* home-benifits&Drawbacks */
.home-benifits-Drawbacks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* width: 100%; */
  padding: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  gap: 2rem;
  border-radius: 9px;
}
/* note points logo */
#logo--div {
  display: flex;
  gap: 0.5rem;
}
/* .Home-loanimg-container{
  width: 300px;
} */
.home-benefit-container {
  display: flex;
  flex-direction: column;

  /* width: 500px; */
  flex: 1;
  line-height: 30px;
}
/* Home-loan-criteria */
.Home-loan-criteriacontainer span {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 30px;
}
/* home-drawback-container */

.home-drawback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 30px;
  flex: 1;
}

/* Home Total Container */

.home-total-divcontainer {
  margin: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 2;
}

.home__extra__mar {
  margin-left: 30px;
}

.home-total-divcontainer span {
  color: grey;
}

.home-benefit-container > span > :nth-child(1) {
  margin-right: 10px;
}
