.header {
  width: 100%;
  height: 10vh;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  /* box-shadow: rgba(175, 53, 53, 0.06) 0px 2px 4px 0px inset; */
  /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.header img {
  width: 170px;
}

.header__nav {
  width: 67%;
}

.header__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav__hide {
  display: none;
  position: relative;
}
.nav_add_back_color {
  background-color: rgb(235, 225, 214);
  width: 100%;
  padding: 20px;
  padding-left: 6rem;
  /* width: 100%; */
  /* height: 50vh; */
}

.nav_header-add {
  background-color: rgb(235, 225, 214);
}

.header-last-li {
  background-color: orange;
  padding: 10px 10px;

  text-align: center;
  color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 5px;
}

.header__ul li:hover {
  color: orange;
  transform: scale(1.1);
  transition: all 1s;
}
.header-last-li:hover {
  color: #fff !important;
}
.li__value {
  text-decoration: none;
  color: black;
}

.li__value:hover {
  color: orange;
}

@media (max-width: 768px) {
  /* .header-icon {
    display: inline;
  } */
  .header__nav {
    position: absolute;
    top: 1%;
    left: 20%;
    z-index: 1000;
  }
  .header__ul {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: flex-start;
  }
  .header-icon {
    display: block;
  }
  .nav__hide {
    background-color: grey !important;
  }
  /* .header img {
    width: 100px;
  } */
}

@media (min-width: 768px) {
  .header-icon {
    display: none;
  }
  .header img {
    width: 110px;
  }
  .header__ul {
    font-weight: normal;
    font-size: 10px;
    /* color: red; */
  }
  .nav__hide {
    display: block;
  }
  .header-last-li {
    border-radius: 15px;
  }
  .nav_add_back_color {
    background-color: #fff;
  }
  .nav_header-add {
    background-color: #fff;
  }
}

@media (min-width: 992px) {
  .header-icon {
    display: none;
  }
  .header img {
    width: 140px;
  }
  .header__ul {
    font-weight: normal;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .header-icon {
    display: none;
  }
  .header img {
    width: 170px;
  }
  .header__ul {
    font-weight: normal;
    font-size: 16px;
  }
}
