.navbar-main {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* border: 2px solid yellow; */

  background-color: #fff;
  z-index: 9999;
}

.navbar-main > img {
  width: 14vw;
}

.navbar-main > ul {
  width: 60%;
  display: flex;
  gap: 2rem;
  color: #000;
  list-style: none;
  /* border: 2px solid red; */
  font-size: 1.2vw;
  font-weight: 800;
}
.nav-corss-card {
  display: none;
  padding: 20px;
}

.contact_btn {
  background-color: orange;
  padding: 10px;
  color: #fff !important;
  border-radius: 15px;
}

.mobile-elements {
  display: block;
  position: absolute;
  flex-direction: column;
  top: 100%;
  padding: 20px;
  background-color: rgb(235, 225, 214);
  width: 100%;
  z-index: 999;
}
.ul-elemnts {
  width: 60%;
  display: flex;
  gap: 2rem;
  color: #000;
  list-style: none;
  /* border: 2px solid red; */
  font-size: 1.2vw;
  font-weight: 800;
}

.mobile_ui-card {
  display: none !important;
  /* background-color: red; */
}
.navbar-main > ul {
  display: none;
}

.link_changes {
  color: #000;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-main {
    padding: 0px;
    /* background-color: rgb(235, 225, 214); */
  }
  .navbar-main > img {
    width: 30vw;
  }
  .mobile_ui-card {
    display: block;
  }
}

@media (max-width: 768px) {
  .ul-elemnts {
    display: none;
  }
  .nav-corss-card {
    display: block;
    padding: 20px;
  }
}
